.carousel-inner {
    background-color: #ffe6e6;
}

p1 {
    font-size: 37px;
    font-weight: 600;
}

.cardss img {
    padding: 10px 10px;
    height: 120px;
}
.mokles{
    padding: 10px 10px;
}
.ending{
   text-align: center;
    background-color: #ffe6e6;
    border-radius: 5px;
}
#mofiz{
    width: 384px;
    padding: 6px;
}
.sagol{
    padding: 20px 0 35px 0;
    position: relative;
    padding-right: 308px;
}
.shesh{
    text-align: center;
    padding-top: 50px;
}